.calculator {
    width: 600px;
    height: 550px;
    margin: 50px auto;
    border: 2px solid black;
    text-align: center;
    background-image: url("stevebusmeme.jpg");
    background-position: 20%;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    border: 10px rgb(255, 252, 47) ridge;
}

#display {
    width: 80%;
    padding: 10px;
    margin: 5px auto;
    
    border: 7px rgba(255, 47, 47, 0.911) groove;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background: tan;
}

h4 { 
   
    color: white;


    text-shadow: 1px 1px 2px orangered;

}

.buttons button {
    border: 2px black solid;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    margin: 12px;
    font-size: 20px;
    

    outline: none;
    cursor: grab;
    background-color: gray;
    color: white;
}
/*.buttons {
display: flex;


flex-direction: row;
 flex-wrap: wrap;
 
width: 300px;
margin-left: auto;
margin-right: auto;
}*/

.clear{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

#clear {
    background: rgb(163, 0, 0);
    color: white;
}

#operator{
    background-color: blue;
    color: white;
  width: 80px;
  align-content: flex-start; 
}

.buttons button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2rem);
    background-color: darkslategray;
    box-shadow: 3px 4px 5px rgb(47, 255, 82);
}